@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    font-size: 18px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
}
.wrapper{
    padding: 13px 20px 13px;
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: auto;
    border: 1px solid #000000;
}

.section-top-line{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    
}

.section-top-line > div{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 170px;
    
}

.section-top-line .r-section,
.section-top-line .l-section{
    width: 150px;
    border-bottom: 1px solid #5b9bd5;
    position: relative;
}

.section-top-line .r-section{
    text-align: left;
}

.section-top-line .r-section:before,
.section-top-line .l-section:before{
    content: '';
    position: absolute;
    bottom: -4px;
    width: 1px;
    height: 3px;
    background: #5b9bd5;
}
.section-top-line .l-section:before{
    right: -1px;
}
.section-top-line .r-section:before{
    left: -1px;
}

.section-top-line .center-section{
    flex: 1 0;
    border: 1px solid #5b9bd5;
    border-top: 0;
    text-align: left;
    justify-content: flex-start;
    padding-left: 55px;
}

.section-bottom-line{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
   
}
.section-bottom-line .r-section,
.section-bottom-line .l-section{
    flex: 1;
}

.section-bottom-line .left-top__info{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #5b9bd5;
}
.section-bottom-line .left-top__info div{
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-bottom-line .left-top__info div:first-child{
    min-width: 60%;
    width: 60%;
    border-right: 1px solid #5b9bd5;
}
.section-bottom-line .left-top__info div:last-child{
    min-width: 40%;
    width: 40%;
}

.section-bottom-line .left-bottom__info{
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 45px;
}

.section-bottom-line .r-section{
    border-left: 1px solid #5b9bd5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*tablet version*/
@media (min-width: 768px) and (max-width: 1024px){
    .section-top-line .r-section{
        display: none;
    }
    .section-top-line .center-section{
        border-right: 0;
    }
}

/*mobile version*/
@media (max-width: 768px){
    .section-bottom-line .left-top__info,
    .section-bottom-line,
    .section-top-line{
        flex-direction: column;
    }
    .section-top-line .r-section, .section-top-line .l-section{
        width: 100%;
    }
    .section-top-line .center-section{
        border-right: 0;
        border-left: 0;
        text-align: center;
        padding-left: 0;
        justify-content: center;
    }
    .section-top-line .r-section{
        text-align: center;
        justify-content: center;
    }
    .section-bottom-line .left-top__info div:first-child,
    .section-bottom-line .left-top__info div:last-child{
        min-width: initial;
        width: 100%;
    }
    .section-bottom-line .left-top__info div:first-child{
        border-bottom: 1px solid #5b9bd5;
        border-right: 0;
    }
    .section-bottom-line .r-section{
        border-left: 0;
        border-top:  1px solid #5b9bd5;
        min-height: 70px;
    }
    .section-bottom-line .left-bottom__info,
    .section-top-line > div{
        min-height: initial;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .section-top-line .r-section:before,
    .section-top-line .l-section:before{
        display: none;
    }
}